[Container]
Image=docker.io/slskd/slskd:latest
AutoUpdate=registry
PublishPort=127.0.0.1:5030:5030
PublishPort=127.0.0.1:5031:5031
PublishPort=36328:36328
Volume=__changeme__:/app:Z
Volume=__changeme__:/share:z
Volume=__changeme__:/downloads:z
Environment=SLSKD_REMOTE_CONFIGURATION=true
Environment=SLSKD_SLSK_USERNAME=__changeme__
Environment=SLSKD_SLSK_PASSWORD=__changeme__
Environment=SLSKD_NO_AUTH=true
Environment=SLSKD_SHARED_DIR=/share
Environment=SLSKD_DOWNLOADS_DIR=/downloads
Network=slskd.network

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
